// refs: http://matthewlehner.net/using-webpack-with-phoenix-and-elixir/
const path = require('path');
const ExtractTextPlugin = require('extract-text-webpack-plugin');
const MergeIntoSingleFilePlugin = require('webpack-merge-and-include-globally');
const CopyWebpackPlugin = require("copy-webpack-plugin");

module.exports = {
  entry: [
    path.resolve(__dirname, "assets/app.scss"),
    path.resolve(__dirname, "assets/app.js")
  ],
  output: {
    path: path.resolve(__dirname, "static"),
    filename: "app.js"
  },
  // turn on source map, need to be explicitly turn on in chrome console settings
  devtool: 'source-map',
  module: {
    loaders: [{
      test: /\.js$/,
      exclude: /node_modules/,
      loader: "babel-loader",
      query: {
        presets: ["es2015"]
      }
    }, {
      test: /\.css/,
      loader: "style-loader:css-loader"
    }, {
      test: /\.scss$/,
      loader: ExtractTextPlugin.extract({
        fallbackLoader: "style-loader",
        loader: "css-loader?sourceMap!sass-loader?sourceMap",
      })
    }]
  },
  plugins: [
    new ExtractTextPlugin("app.css"),
    <%- if $config['globals'] -%>
    new MergeIntoSingleFilePlugin({
      <%- $config['globals'].each { |filename, subfiles| -%>
      "<%= filename %>": [
        <%- subfiles.each { |subfile| -%>
        path.resolve(__dirname, "assets/<%= subfile %>"),
        <%- } -%>
      ],
      <%- } -%>
    }),
    <%- end -%>
  ]
};
